@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow-shadow {
  0% { 
    filter: drop-shadow(0 0 6em rgb(75, 87, 255)); 
  }
  14% { 
    filter: drop-shadow(0 0 6em rgb(238, 87, 109));
  }
  28% { 
    filter: drop-shadow(0 0 6em rgb(68, 170, 255));
  }
  42% { 
    filter: drop-shadow(0 0 6em rgb(255, 211, 79));
  }
  57% { 
    filter: drop-shadow(0 0 6em rgb(26, 204, 255));
  }
  71% { 
    filter: drop-shadow(0 0 6em rgb(238, 91, 91)); 
  }
  85% { 
    filter: drop-shadow(0 0 6em rgb(255, 94, 255));
  }
  100% { 
    filter: drop-shadow(0 0 6em rgb(75, 87, 255)); 
  }
}

.rainbow-shadow {
  animation: rainbow-shadow 2s linear infinite;
}
